h1 {
	color: blue;
	display: flex;
	justify-content: center;
}

body {
	display: flex;
	justify-content: center;
}


.add-button {
	margin: 0 0 10px 10px;
	padding: 8px 0 8px 0;
}

.filter {
	margin: 20px 0 20px 0;
}
.meal-details {
	color: #bde0c1;
	display: none;
}

.selected .meal-details {
  color: #22bdf0;
	display:block;
}
